# Question 22 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).
Return the result table in any order.
Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite://

In [8]:
%%sql
CREATE TABLE IF NOT EXISTS Weather (
    ID INT PRIMARY KEY,
    recordDate DATE,
    Temperature INT
);

 * sqlite://
Done.

[]

In [9]:
%%sql

INSERT INTO Weather (ID, recordDate, Temperature)
VALUES
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30);

 * sqlite://
4 rows affected.

[]

In [13]:
temp = %sql SELECT * FROM Weather
print(temp)

 * sqlite://
Done.
+----+------------+-------------+
| ID | recordDate | Temperature |
+----+------------+-------------+
| 1  | 2015-01-01 |      10     |
| 2  | 2015-01-02 |      25     |
| 3  | 2015-01-03 |      20     |
| 4  | 2015-01-04 |      30     |
+----+------------+-------------+

In [26]:
%%sql
SELECT w1.ID
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.Temperature > w2.Temperature

 * sqlite://
Done.

[(2,), (4,)]